{% extends 'base.html' %}

{% block title %} Shopping Cart {% endblock %}

{% block content %}
    {% load static %}

    	<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="{% url 'shop:index' %}">Home</a></li>
						<li><a href="{% url 'shop:store' %}">Store</a></li>
                        <li><a href="{% url 'shop:aboutus' %}">About Us</a></li>
                        <li><a href="{% url 'shop:contactus' %}">Contact Us</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->
         <!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'shop:index' %}">Home</a></li>
							<li class="active">Shopping List</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->


    <h1><center>Your Shopping Cart List</center></h1>
    <table align="center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td colspan="2">
                            <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}">
                            </a>
                        </td>
                        <br>
                        <td>{{ product.name }}</td>
                        <td>Price: $ {{ item.price }}</td>
                        <td>Total Price: $ {{ item.total_price }}</td>
                        <td>
                            <form method="post" action="{% url 'cart:cart_add' product.id %}">
                                {{ item.update_product_count_form.product_count }}
                                {{ item.update_product_count_form.update }}
                                {% csrf_token %}
                                <input class="primary-btn order-submit" type="submit" value="Update">
                            </form>
                        </td>
                        <td><a class="primary-btn order-submit" href="{% url 'cart:cart_remove' product.id %}">Remove</a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <br>
            <tr class="total">
                <td align="center"><h3>Total Cost:</h3></td>
                <td colspan="1"></td>
                <td align="center" class="num"><h3>$ {{ cart.get_total_price }}</h3></td>
            </tr>
        </tbody>
    </table>
<p align="right">
    <a href="{% url 'shop:store' %}" class="primary-btn order-submit">Continue Shopping</a>
    <a href="{% url 'shop:checkout' %}" class="primary-btn order-submit">Checkout</a>
</p>
{% endblock %}